<section class='splash'>
  <div class='spalsh_title'>
    Easy Finance
  </div>

  <div class=splash_links> 
    <%= link_to 'LOG IN', new_user_session_path, class: 'login_signup' %> 
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'login_signup' %>
  </div>  
</section>
