<section class='splash'>
  <div class='spalsh_title'>
    <div class='splash_word'><span class='firstl'>E</span>asy Fi<span class='firstl'>nance</span> </div>
  </div>

  <div class=splash_links> 
    <%= link_to 'LOG IN', new_user_session_path, class: 'login' %> 
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'signup' %>
  </div>  
</section>
