<section class='logged_in_user_form'>

<nav class='navbar'>
  <div>
    menu
  </div>

  <h1>Categories</h1>

  <% if user_signed_in? %>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class:'logout' %> 
  <% end %>
</nav>


   <ul class='page_body'>
     <% @categories.each do |category| %> 
        <li class='category_cont'>
        
          <%=render partial: 'partials/category', locals: { category: category, author: @user } %>
          
        </li>  
        <br> 
     <% end %>
   
   </ul>
<div class='add_button_cont'>
<%= link_to 'New CATEGORY', new_category_path, class:'add_button' %>
</div>



</section>